.Group {
  display: flex;
  flex-direction: row;
  margin: 3px;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Group > .buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.Group > .buttonContainer > label {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: 3px;
}
.Group > .buttonContainer > label > input {
  width: 35px;
  font-size: 16px;
}

.Group > .buttonContainer > input {
  background-color: white;
  border: none;
  height: 110%;
  width: 110%;
  font-size: 18px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    /* border: 1px solid black; */ 0 2px 1px -1px rgba(0, 0, 0, 0.12),
    0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.container {
  display: flex;
  flex-direction: column;
}

.Group > .container > .datePicker {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.Group > .container > .datePicker > div {
  margin: 5px;
}

.Group > .container > .datePicker > div > select {
  font-size: 16px;
  border: none;
  background: white;
  color: black;
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

.Group .submit {
  border: none;
  box-shadow: 3px 3px 7px -5px rgba(0, 0, 0, 0.75);
  font-size: 16px;
  color: black;
  border-radius: 11px;
  margin-top: 4px;
  float: right;
}

.Group .valid {
  background-color: rgb(21, 255, 0);
}

.Group .notvalid {
  background-color: rgb(255, 0, 0);
}

.Group > .container > .datePicker > div > select::-ms-expand {
  display: none;
}

.Group .optInput[type="text"] {
  border: none;
  color: black;
  border-bottom: none;
  margin: 3px;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-bottom: 0.2vw;
}

.Group .optInput[name="Room"] {
  color: rgb(78, 78, 78);
  font-size: 16px;
}

@media (min-width: 1025px) {
  /* breite Browserfenster */
  .Group .optInput[name="GroupName"] {
    font-size: 30px;
  }
  .Group .optInput[name="Tutor"] {
    font-size: 13px;
  }
}
@media (max-width: 1024px) {
  /* mobile Geräte */
  .Group .optInput[name="GroupName"] {
    font-size: 24px;
  }

  .Group .optInput[name="Tutor"] {
    font-size: 14px;
  }
}

.Group .optInput[type="text"]:disabled {
  background: #ffffff;
  opacity: 1;
  border: none;
}
