.GroupRouter {
  display: flex;
  flex-direction: column;
}

.GroupRouter .GroupBlock {
  display: flex;
  flex-direction: row;
  margin: 3px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.GroupRouter .GroupBlock .container {
  display: flex;
  flex-direction: column;
}

.GroupRouter .GroupBlock .GroupNameTutor {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.GroupRouter .GroupBlock .GroupNameTutor label {
  margin-right: 3px;
}

.GroupRouter .GroupBlock .datePicker {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.GroupRouter .datePicker > label {
  margin-right: 4px;
}
.GroupRouter .datePicker > div {
  margin-right: 4px;
}

.GroupRouter .GroupBlock .buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.GroupRouter .GroupBlock .buttonContainer > input {
  margin-left: 10px;
  background-color: white;
  border: none;
  height: 110%;
  width: 110%;
  font-size: 18px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    /* border: 1px solid black; */ 0 2px 1px -1px rgba(0, 0, 0, 0.12),
    0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.GroupRouter .linkHover:hover {
  text-decoration: underline;
}

@media (min-width: 1025px) {
  /* breite Browserfenster */
  .GroupRouter .GroupBlock .buttonContainer {
    margin: 20px;
  }
  .GroupRouter .GroupBlock .container {
    margin: 20px;
  }
  .GroupRouter .GroupBlock .GroupName {
    font-size: 30px;
  }
  .GroupRouter .GroupBlock .Tutor {
    font-size: 13px;
  }
}
@media (max-width: 1024px) {
  /* mobile Geräte */
  .GroupRouter .GroupBlock .buttonContainer {
    margin: 5px;
    margin-left: 10px;
  }
  .GroupRouter .GroupBlock .container {
    margin: 5px;
    margin-left: 10px;
  }
  .GroupRouter .GroupBlock .GroupName {
    font-size: 17px;
  }

  .GroupRouter .GroupBlock .Tutor {
    font-size: 10px;
  }
}
