.AllCourses .courseName {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1025px) {
  /* breite Browserfenster */

  ul {
    display: block;
    list-style-type: none;
    margin: 5px 0px 5px -20px;
    list-style-position: outside;
  }
  .AllCourses .courseName {
    font-size: 20px;

    margin-bottom: 1px;
    /* margin-top: 0px; */
    line-height: 1.5;
    background-color: #eaeaea;
    padding: 0.5% 1% 1% 0;
  }
  .AllCourses .courseSemester {
    font-size: 30px;
    font-style: bold;
    margin-top: 15px;
    /* line-height: 1.4; */
    border-bottom: 1px solid #005eaa;
    background-color: #fafafa;
    padding: 10px 0px 10px 20px;
  }
}

@media (max-width: 1024px) {
  /* mobile Geräte */
  ul {
    display: block;
    list-style-type: none;
    margin: 10px 0px 5px -20px;
    list-style-position: outside;
  }

  .AllCourses .courseName {
    display: block;
    list-style-type: none;
    list-style-position: outside;
    font-size: 17px;
    overflow: hidden;
    /* white-space: nowrap; */
    margin-bottom: 1px;
    margin-top: 0px;
    line-height: 1.5;
    background-color: #eaeaea;
    padding: 1% 1% 1% 0%;
  }
  .AllCourses .courseSemester {
    font-size: 25px;
    font-style: bold;
    margin-top: 15px;
    margin-bottom: 0px;
    line-height: 1.4;
    border-bottom: 1px solid #005eaa;
    /* width: 100%; */
    /* display: block; */
    background-color: #fafafa;
    padding: 5px 0px 5px 22px;
  }
}
