.Footer {
  flex-shrink: 0;
  background-color: var(--poblue);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Footer div {
  text-align: center;
  color: white;
  margin: 3px;
}
